


body { 
    background-image: url("../images/background photo.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 690px;
}

.box { 
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    height: 400px;  
    width: 600px; 
    background-color: white;
    border-radius: 15px;
    background: rgba(204, 204, 204, 0.5);
    color: black;
}

.row { 
    margin: 10px;
    display: flex;
    justify-content: center;
}

h1 { 
    font-size: 50px;
    color: black;
    margin-top: 20marpx;
    opacity: 100%;
}

h2 { 
    font-size: 50px;
}

.btn { 
    color: black;
    border-color: black;
    margin: 10px;
}

.timer { 
    font-size: 30px;
    margin: 0px;
}

.questionNum { 
    font-size: 30px;
}
