
body { 
    background: url( ../images/background-photo.jpg) no-repeat center center fixed;
    -webkit-background-size:
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:'Playfair Display', serif;
    font-size: 30px;
    text-shadow: 2px;
    margin-left: 30px;
}

.box { 
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    height: 450px;  
    width: 600px; 
    background-color: white;
    border-radius: 15px;
    background: rgba(204, 204, 204, 0.5);
    color: black;
}

p { 
    font-size: 20px;
}
.row { 
    margin: 10px;
    display: flex;
    justify-content: center;
}

h1 { 
    font-size: 50px;
    color: black;
    margin-top: 20marpx;
    opacity: 100%;
}

h2 { 
    font-size: 50px;
}

.btn { 
    color: black;
    border-color: black;
    margin: 10px;
}

.timer { 
    font-size: 30px;
    margin: 0px;
}

.questionNum { 
    font-size: 30px;
}
